<div class="mt-2">

  <div class="w-auto h-32 bg-white mx-5 flex border border-gray-300">
    <div class="image w-28 h-28 bg-red-500 my-auto ml-2"></div>
    <div class="ad-content w-96 h-28 bg-green-500 my-auto mx-2"></div>
  </div>


  <div class="w-auto h-32 bg-white mx-5 flex border border-gray-300">
    <div class="image w-28 h-28 bg-red-500 my-auto ml-2"></div>
    <div class="ad-content w-96 h-28 bg-green-500 my-auto mx-2"></div>
  </div>


  <div class="w-auto h-32 bg-white mx-5 flex border border-gray-300">
    <div class="image w-28 h-28 bg-red-500 my-auto ml-2"></div>
    <div class="ad-content w-96 h-28 bg-green-500 my-auto mx-2"></div>
  </div>


  <div class="w-auto h-32 bg-white mx-5 flex border border-gray-300">
    <div class="image w-28 h-28 bg-red-500 my-auto ml-2"></div>
    <div class="ad-content w-96 h-28 bg-green-500 my-auto mx-2"></div>
  </div>


  <div class="w-auto h-32 bg-white mx-5 flex border border-gray-300">
    <div class="image w-28 h-28 bg-red-500 my-auto ml-2"></div>
    <div class="ad-content w-96 h-28 bg-green-500 my-auto mx-2"></div>
  </div>


  <div class="w-auto h-32 bg-white mx-5 flex border border-gray-300">
    <div class="image w-28 h-28 bg-red-500 my-auto ml-2"></div>
    <div class="ad-content w-96 h-28 bg-green-500 my-auto mx-2"></div>
  </div>


  <div class="w-auto h-32 bg-white mx-5 flex border border-gray-300">
    <div class="image w-28 h-28 bg-red-500 my-auto ml-2"></div>
    <div class="ad-content w-96 h-28 bg-green-500 my-auto mx-2"></div>
  </div>


</div>




