<div class="w-full h-12 bg-amber-400 flex justify-between">
  <div class="w-28 h-full"></div>

  <div class="w-96 h-full">

    <ul class="flex justify-between items-center h-full">

      <li class="cursor-pointer hover:text-white">
        <a href="/ads">Home</a>
      </li>

      <li class="cursor-pointer hover:text-white">
        <a href="/ads">View</a>
      </li>

      <li class="cursor-pointer hover:text-white">
        <a href="/create">Create ad free</a>
      </li>

      <li class="cursor-pointer hover:text-white">
        <a href="/ads">About us</a>
      </li>

      <li class="cursor-pointer hover:text-white">
        <a href="/ads">Contact</a>
      </li>

    </ul>

  </div>

  <div class="w-28 h-full flex items-center">

    <button class="flex items-center">
      <i class="ri-login-circle-fill text-4xl hover:text-white  "></i>
    </button>

  </div>

</div>
