<div class="w-full h-full">
  <div class="accordion-item border-b border-gray-300">
    <input type="checkbox" id="accordion-1" class="accordion-checkbox">
    <label for="accordion-1" class="accordion-header flex items-center justify-between w-full text-left py-2 px-4 bg-blue-50 hover:bg-amber-400 hover:text-black cursor-pointer">
      <span>Category 1</span>
      <span class="indicator text-lg font-bold transition-transform duration-300">+</span>
    </label>
    <div class="accordion-content px-4 py-2 bg-blue-50 h-full">
      <div class="content-category p-3">
        <ul>
          <li class="flex items-center my-4">
            <input type="checkbox" id="check-1"  class="appearance-none w-4 h-4 rounded-full border border-gray-300  checked:bg-amber-400 checked:border-transparent checked:outline-none checked:ring-2 checked:ring-amber-400 checked:ring-offset-2 ml-3">
            <label for="check-1" class="ml-3">Sub-Category</label>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="accordion-item border-b border-gray-300">
    <input type="checkbox" id="accordion-2" class="accordion-checkbox">
    <label for="accordion-2" class="accordion-header flex items-center justify-between w-full text-left py-2 px-4 bg-blue-50 hover:bg-amber-400 hover:text-black cursor-pointer">
      <span>Category 1</span>
      <span class="indicator text-lg font-bold transition-transform duration-300">+</span>
    </label>
    <div class="accordion-content px-4 py-2 bg-blue-50 h-full">
      <div class="content-category p-3">
        <ul>
          <li class="flex items-center my-4">
            <input type="checkbox" id="check-2"  class="appearance-none w-4 h-4 rounded-full border border-gray-300  checked:bg-amber-400 checked:border-transparent checked:outline-none checked:ring-2 checked:ring-amber-400 checked:ring-offset-2 ml-3">
            <label for="check-2" class="ml-3">Sub-Category</label>
          </li>
        </ul>
      </div>

    </div>
  </div>


  <div class="accordion-item border-b border-gray-300">
    <input type="checkbox" id="accordion-3" class="accordion-checkbox">
    <label for="accordion-3" class="accordion-header flex items-center justify-between w-full text-left py-2 px-4 bg-blue-50 hover:bg-amber-400 hover:text-black cursor-pointer">
      <span>Category 1</span>
      <span class="indicator text-lg font-bold transition-transform duration-300">+</span>
    </label>
    <div class="accordion-content px-4 py-2 bg-blue-50 h-full">
      <div class="content-category p-3">
        <ul>
          <li class="flex items-center my-4">
            <input type="checkbox" id="check-3"  class="appearance-none w-4 h-4 rounded-full border border-gray-300  checked:bg-amber-400 checked:border-transparent checked:outline-none checked:ring-2 checked:ring-amber-400 checked:ring-offset-2 ml-3">
            <label for="check-3" class="ml-3">Sub-Category</label>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>



